version: '3.8'

services:
  dev:
    image: node:20-alpine
    
    container_name: nextjs-dev-app

    working_dir: /app

    command: sh -c "npm install && npm run dev"

    ports:
      - "3000:3000"

    volumes:
      - .:/app
      - /app/node_modules

    environment:
      - NODE_ENV=development